[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py runserver --settings=Dfm.config.settings.test"
dev = "python manage.py runserver --settings=Dfm.config.settings.development"
prod = "python manage.py runserver --settings=Dfm.config.settings.production"
test = "python manage.py test --settings=Dfm.config.settings.test --noinput --parallel"

[packages]
django = "*"
djangorestframework = "*"
## Uncomment next line to install it in your virtualenvironment outside the container.
# psycopg2-binary = "*"

[dev-packages]
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.12"
